<center><img src="redpopcorn.jpg"></center>

**Netflix**! What started in 1997 as a DVD rental service has since exploded into one of the largest entertainment and media companies.

Given the large number of movies and series available on the platform, it is a perfect opportunity to flex your exploratory data analysis skills and dive into the entertainment industry.

You work for a production company that specializes in nostalgic styles. You want to do some research on movies released in the 1990's. You'll delve into Netflix data and perform exploratory data analysis to better understand this awesome movie decade!

You have been supplied with the dataset `netflix_data.csv`, along with the following table detailing the column names and descriptions. Feel free to experiment further after submitting!

## The data
### **netflix_data.csv**
| Column | Description |
|--------|-------------|
| `show_id` | The ID of the show |
| `type` | Type of show |
| `title` | Title of the show |
| `director` | Director of the show |
| `cast` | Cast of the show |
| `country` | Country of origin |
| `date_added` | Date added to Netflix |
| `release_year` | Year of Netflix release |
| `duration` | Duration of the show in minutes |
| `description` | Description of the show |
| `genre` | Show genre |

## Instructions

# Exploratory Data Analysis - Netflix Movies from 1990s

## Analysis Tasks:

1. Find the most common movie duration from the 1990s
   - Use 1990 as starting year
   - Save result as integer variable `duration`

2. Count short action movies from 1990s
   - Short movie defined as < 90 minutes
   - Save count as integer variable `short_movie_count`

In [6]:
import pandas as pd
import matplotlib.pyplot as plt

# Read in the Netflix CSV as a DataFrame
netflix_df = pd.read_csv("netflix_data.csv", index_col=0)

In [7]:
netflix_df

,type,title,director,cast,country,date_added,release_year,duration,description,genre
show_id,,,,,,,,,,
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas
s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,1,A genetics professor experiments with a treatm...,International TV
...,...,...,...,...,...,...,...,...,...,...
s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,88,Looking to survive in a world taken over by zo...,Comedies
s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,94,A drug dealer starts having doubts about his t...,Dramas
s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,88,"Dragged from civilian life, a former superhero...",Children
s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,"October 19, 2020",2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas
s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,111,A scrappy but poor boy worms his way into a ty...,Dramas

In [19]:
# select only the column release year
only_col_release_year = netflix_df.loc[:, ["release_year"]]

# show table
only_col_release_year

         release_year
show_id
s2               2016
s3               2011
s4               2009
s5               2008
s6               2016
...               ...
s7779            2009
s7781            2018
s7782            2006
s7783            2005
s7784            2015

[4812 rows x 1 columns]

In [20]:
# select only 90's movies
movies = netflix_df.loc[netflix_df['release_year'] == 1990]
# verifying the type of obj
type(movies)

# show table
movies

,type,title,director,cast,country,date_added,release_year,duration,description,genre
show_id,,,,,,,,,,
s344,Movie,Agneepath,Mukul Anand,"Amitabh Bachchan, Mithun Chakraborty, Danny De...",India,"April 1, 2020",1990,174,A boy grows up to become a gangster in pursuit...,Dramas
s1757,Movie,Dil,Indra Kumar,"Aamir Khan, Madhuri Dixit, Saeed Jaffrey, Deve...",India,"October 12, 2020",1990,165,A miser’s scheme to set his son up with a mill...,Comedies
s2026,Movie,"Escape from the ""Liberty"" Cinema",Wojciech Marczewski,"Janusz Gajos, Zbigniew Zamachowski, Teresa Mar...",Poland,"October 1, 2019",1990,88,Artistic rebellion ignites at the movies when ...,Comedies
s2394,Movie,Ghayal,Rajkumar Santoshi,"Sunny Deol, Meenakshi Sheshadri, Amrish Puri, ...",India,"December 31, 2019",1990,163,"Framed for his older brother's murder, a boxer...",Action
s2494,Movie,GoodFellas,Martin Scorsese,"Robert De Niro, Ray Liotta, Joe Pesci, Lorrain...",United States,"January 1, 2021",1990,145,Former mobster Henry Hill recounts his colorfu...,Classic Movies
s2963,Movie,In Defense of a Married Man,Joel Oliansky,"Judith Light, Michael Ontkean, Jerry Orbach, P...",United States,"October 1, 2011",1990,94,A lawyer's husband is having an affair. When h...,Dramas
s3335,TV Show,Ken Burns: The Civil War,Ken Burns,"Sam Waterston, Julie Harris, Jason Robards, Mo...",United States,"February 22, 2017",1990,1,Ken Burns's documentary depicts the action of ...,Docuseries
s3718,Movie,"Look Out, Officer",Sze Yu Lau,"Stephen Chow, Bill Tung, Stanley Sui-Fan Fung,...",Hong Kong,"August 16, 2018",1990,88,An officer killed on the job returns to Earth ...,Action
s5043,Movie,Quigley Down Under,Simon Wincer,"Tom Selleck, Laura San Giacomo, Alan Rickman, ...",Australia,"December 1, 2020",1990,120,"After traveling to Australia for a job, a shar...",Action
s5250,Movie,Rocky V,John G. Avildsen,"Sylvester Stallone, Talia Shire, Burt Young, R...",United States,"August 1, 2019",1990,104,"Inspired by the memory of his trainer, a broke...",Dramas
s5571,Movie,Shiva,Ram Gopal Varma,"Nagarjuna Akkineni, Amala, Rajendranath Zutshi...",India,"December 31, 2019",1990,168,A young man enrolls at a college and becomes a...,Action
s7090,Movie,Tim Allen: Men Are Pigs,Ellen Brown,Tim Allen,United States,"December 31, 2018",1990,30,Standup comedian Tim Allen delivers a set dedi...,Stand-Up
s7163,Movie,Total Recall,Paul Verhoeven,"Arnold Schwarzenegger, Rachel Ticotin, Sharon ...",United States,"July 1, 2020",1990,114,"After getting a memory implant, working stiff ...",Action
s7208,Movie,Tremors,Ron Underwood,"Kevin Bacon, Fred Ward, Finn Carter, Michael G...",United States,"January 1, 2020",1990,96,After a seismologist gets unusual readings on ...,Comedies
s7363,Movie,Unspeakable Acts,Linda Otto,"Jill Clayburgh, Brad Davis, Sam Behrens",United States,"October 1, 2011",1990,95,Laurie and Joseph are doctors who interview se...,Dramas